.code-header {
    font-size: 1.375rem;
}

.hljs-params {
    color: #666;
}

.code-space,
.code-space code.code {
    background-color: #f8f9fb;
    transition: all .3s;
}

.code-space:hover {
    background-color: #efeff4;    
}

.code-space:hover code.code {
    background-color: #efeff4;    
}

.hljs-addition, 
.hljs-built_in, 
.hljs-selector-attr, 
.hljs-selector-id, 
.hljs-selector-pseudo, 
.hljs-string, 
.hljs-template-variable, 
.hljs-type, 
.hljs-variable {
    color: #dccb2e    
}

.home .hero img {
    width: 150px;
    height: 150px;
}