.code-header {
    font-size: 1.125rem;
}

.hljs-params {
    color: #666 !important;
}

.code-space,
.code-space code.code {
    font-weight: 700;
    background-color: #f8f9fb;
    transition: all .3s;
}

.code-space:hover {
    background-color: #efeff4;    
}

.code-space:hover code.code {
    background-color: #efeff4;    
}

.hljs-addition, 
.hljs-built_in, 
.hljs-selector-attr, 
.hljs-selector-id, 
.hljs-selector-pseudo, 
.hljs-string, 
.hljs-template-variable, 
.hljs-type, 
.hljs-variable {
    color: #7497e6 !important;
}

.home .hero img {
    width: 150px;
    height: 150px;
}

.actions .external-link-icon {
    color: white;
}

.actions a:first-of-type {
    background-color: #4182d8 !important;
    border-color: #4182d8 !important;
}